body {
    background-image: url('../imagens/espaco.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img {
    max-width: 50%;
}